body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    background-color: white;
   
  }

  .graphic-container {
      z-index: 3;
  }
  
  svg {
      z-index: 1;
  }
